<div class="row">
    <div class="col s12 m6">
      <div class="card grey darken-1">
        <div class="card-image">
          <img src="{{img}}"> 
        </div>
        <div class="card-content white-text">
          <span class="card-title">{{title}}</span>
          <p>{{summary}}</p>
        </div>
        <div class="card-action">
          <a href="https://www.nytimes.com{{link}}">link to article</a>
        </div>
        <div class="card-action">
        <div class="row">
            <div class="row">
              <div class="input-field col s12">
                <textarea id="commentInput" class="materialize-textarea"></textarea>
                <label for="commentInput">Comment</label>
              </div>
              <button data-id="{{_id}}" id="commentSubmit" class="btn waves-effect waves-light">Post Comment</button>
            </div>
          <ul id="collection" class="collection"> 
            {{#each comments}}
              {{> articles/comments-block}}
            {{/each}}
          </ul>
        </div> 
        </div>
      </div>
    </div>
</div>
